<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="assets/layout/images/hackathonnetlogo-nobg.png" alt="HackathonNet Logo" class="footer-logo-img">
      <p>© 2025 HackathonNet. All rights reserved.</p>
    </div>
    
    <div class="footer-links">
      <div class="footer-section">
        <h4>Platform</h4>
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Browse Events</a></li>
          <li><a href="#">For Organizers</a></li>
          <li><a href="#">For Sponsors</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h4>Resources</h4>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h4>Company</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Press Kit</a></li>
        </ul>
      </div>
      
      <div class="footer-section">
        <h4>Connect</h4>
        <div class="social-icons">
          <a href="#" class="social-icon"><i class="pi pi-twitter"></i></a>
          <a href="#" class="social-icon"><i class="pi pi-facebook"></i></a>
          <a href="#" class="social-icon"><i class="pi pi-linkedin"></i></a>
          <a href="#" class="social-icon"><i class="pi pi-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>